@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
.top-header {
  border-bottom: 1px solid black;
  padding-top: 2vh;
  margin-bottom: 155px;
  height: 10vh;
}
.top-header .menu {
  align-items: center;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2vh;
  line-height: 82.34%;
  color: #383838;
}
.top-header .link-text {
  color: inherit;
  text-decoration: none;
}
.top-header .link-text:hover {
  color: #831ed2;
}
.top-header .menu-button {
  background-color: inherit;
  border: none;
  margin-left: 2vh;
  cursor: poiner;
}

.post-header {
  padding-top: 30vh;
}
.post-header .skills {
  font-size: 8vh;
}
.post-header .skills .name {
  display: flex;
  align-items: center;
  font-size: 2vh;
  font-weight: 600;
}
.post-header .intro {
  min-width: 356px;
  max-width: 486px;
  margin-bottom: 2vh;
}
.post-header .intro .intro-text {
  margin-top: 2vh;
}
.post-header .tabs-container .tab-switch {
  background-color: inherit;
  border: none;
}
.post-header .tabs-container .choosen {
  border-bottom: 1px solid black;
}

.line {
  width: 10%;
  max-width: 30px;
  border: 1px solid black;
  background-color: black;
  margin-right: 3%;
}

.main .card {
  width: 370px;
  height: 250px;
}

.overlay {
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  z-index: 1000;
}

.hidden {
  display: none;
}

.chapters {
  list-style: none;
}
